@font-face {
    font-family: comicSans;
    src: url(comic.ttf);
}
div {
    font-family:comicSans;
}
#default_font{
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    border: none;
    cursor: pointer;
}
#piracy_color{
    background-color: black;
    color: white;
}
#piracy_text{
    text-align: center;
    font-size: 48px;
}
#rickroll_color{
    background-color: #00C000;
    color: #FF3FFF;
}
#description_text{
    background-color: gold;
    text-align: center;
    font-size: 12px;
}